.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home__decoration {
  position: absolute;
  max-width: 500px;
  width: 100%;
  right: 0;
  top: -200px;
}

.home__decoration2 {
  position: absolute;
  max-width: 500px;
  width: 100%;
  left: 0;
  bottom: -200px;
}

.home__title {
  font-size: 35px;
}

.home__subTitle {
  color: #8a8a8a;
  font-size: 14px;
}
.home__subTitle span {
  font-weight: bolder;
}

.home__links {
  list-style: none;
}

.home__link {
  color: white;
  text-decoration: none;
}

.home__go {
  display: flex;
  flex-direction: column;
}

.home__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  margin: 20px 0;
  font-size: 17px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: #8a8a8a;
  box-shadow: -10px -10px 20px #fff, 10px 10px 20px #0002;
}

.home__btn:hover {
  box-shadow: inset -7px -7px 20px #fff, inset 7px 7px 20px #0002;
}
