.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.home__container {
  max-width: 40em;
  width: 100%;
}

.home__header {
  display: flex;
  align-items: center;
}

.home__logo {
  margin-right: 1rem;
  max-width: 100px;
  width: 100%;
}

.home__title {
  font-size: clamp(1.8rem, 2.5vw, 4rem);
}

.home__subTitle {
  color: #8a8a8a;
  font-size: clamp(0.9rem, 0.75vw, 2rem);
}
.home__subTitle span {
  font-weight: bolder;
}

.home__links {
  list-style: none;
}

.home__link {
  color: white;
  text-decoration: none;
}

.home__go {
  display: flex;
  flex-direction: column;
}

.home__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  margin: 1.5em 0;
  /* font-size: px; */
  font-size: clamp(0.9rem, 1vw, 3rem);
  font-family: "poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: #8a8a8a;
  box-shadow: -10px -10px 20px #fff, 10px 10px 20px #0002;
}

.home__btn:hover {
  box-shadow: inset -7px -7px 20px #fff, inset 7px 7px 20px #0002;
}

@media (max-width: 425px) {
  .home__header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .home__title {
    text-align: center;
  }

  .home__subTitle {
    text-align: center;
  }
}

@media (min-width: 1580px) {
  .home__container {
    max-width: 60em;
    width: 100%;
  }

  .home__btn {
    border-radius: 15px;
  }

  .home__logo {
    max-width: 120px;
  }
}
