.todoContent {
  display: flex;
  align-items: flex-start;
}

.todoContent__main,
.todoContent__success {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  z-index: 1;
  width: 100%;
  padding: 1em;
  /* padding: 1em; */
  box-shadow: -10px -10px 20px #fff, 10px 10px 20px #0002;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.todoContent__success {
  box-shadow: none;
}

.todoContent__btn {
  display: flex;
  margin-left: 2rem;
}
.todoContent__text,
.todoContent__textSuccess {
  font-size: clamp(0.8rem, 0.75vw, 1.5rem);
}

.todoContent__textSuccess {
  text-decoration: line-through;
}

.todoContent__btnDelete,
.todoContent__btnTick {
  cursor: pointer;
  font-size: clamp(1em, 1vw, 1.8rem) !important;
}

.todoContent__btnTick {
  margin-right: 1rem;
}

@media (min-width: 1440px) {
  .todoContent__main,
  .todoContent__success {
    padding: 1.5em;
  }
}
